.content
	&__button
		&_func
			&_brand
				background-color: btn_bg_brand
				&:not(.disabled):hover
					background-color: btn_hover_bg_brand
			&_neutral
				background-color: btn_bg_neutral
				border: 1px solid btn_border_neutral
				color: btn_text_black
				&:not(.disabled):hover
					background-color: btn_hover_bg_neutral
			&_success
				background-color: btn_bg_success
				&:not(.disabled):hover
					background-color: btn_hover_bg_success
			&_warning
				background-color: btn_bg_warning
				&:not(.disabled):hover
					background-color: btn_hover_bg_warning
			&_danger
				background-color: btn_bg_danger
				&:not(.disabled):hover
					background-color: btn_hover_bg_danger