/* Colors */
btn_text_black = #444
btn_text_white = #fff

btn_bg_brand = #62aad6
btn_hover_bg_brand = #abd6f1

btn_bg_neutral = #fff
btn_hover_bg_neutral = #f9f8f8
btn_border_neutral = #d4d3d3

btn_bg_success = #46d436
btn_hover_bg_success = #8cf381

btn_bg_warning = #eae50a
btn_hover_bg_warning = #f9f68c

btn_bg_danger = #ea5f0a
btn_hover_bg_danger = #f3a473

/* Shadows */
btn_shadow = 2px 2px 5px 0px rgba(0,0,0,0.35)
btn_hover_shadow = 0px 0px 5px 0px rgba(0,0,0,0.35)
btn_active_shadow = 0px 0px 8px 0px rgba(0,0,0,0.35)